<%- include('partials/head.ejs') %>
    <div class="boxMayor">
        <form class="box" action="/publicar" method="POST">
            <h3 class="amigos-h3">Publicar un nuevo amigo</h3>
            <div class="login-space">
                <div class="group">
                    <label for="user" class="label">Nombre</label>
                    <input class="inputBox" type="text" name="nombre" placeholder="*Ingresa el nombre" required
                        value="<%= editar ? editar.nombre  : ' ' %>" />
                </div>
                <div class="group"> <label for="user" class="label">Email</label>
                    <input class=" inputBox" type="text" name="email" placeholder="*Ingresa email de contacto" required
                        value="<%= editar ? editar.email  : ' ' %>" />
                </div>
                <div class="group">
                    <label for="user" class="label">Url</label>
                    <input class="inputBox" type="text" name="url" placeholder="*Ingresa la url de la foto" required
                        value="<%= editar ? editar.url  : ' ' %>" />
                </div>
                <div class="group">
                    <label for="user" class="label">Ubicacion</label>
                    <input class="inputBox" type="text" name="ubicacion" placeholder="*Ingresa la ubicación" required
                        value="<%= editar ? editar.ubicacion  : ' ' %>" />
                </div>
                <div class="group">
                    <label for="user" class="label">Descripcion</label>
                    <input class="inputBox" name="descripcion" placeholder="*Ingresa una breve descripción" required
                        value="<%= editar ? editar.descripcion  : ' ' %>">
                </div>
                <div class="group">
                    <label class="select" for="slct">
                        <select id="slct" name="edad" required="required">
                            <option value="todas" disabled selected="selected">EDAD DEL AMIGO:</option>
                            <option  value="cachorro">Cachorro (menos de 1 año)</option>
                            <option  value="joven">Joven (1-5 años)</option>
                            <option  value="adulto">Adulto (5-9 años)</option>
                            <option  value="anciano">Anciano (más de 10 años) </option>
                        </select>
                    </label>
                </div>
                <input type="hidden" name="_id" value="<%= editar ? editar._id  : '' %>">
                <input type="hidden" name="userId" value="<%= userId %>">
                <input class="buttonBox" type="submit" value="Enviar!">
            </div>
        </form>
    </div>
    </header>
    <%- include('partials/footer.ejs') %>